*{
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    font-family: cursive;
    font-size: 20px;
}

p{
    font-size: 25px;
    font-family: arial;
    margin: 20px;
    
}


#container {
    width: 100vw;
    height:100vh;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    display: flex;
}


.botao{
display: flex;
justify-content: center;
align-items: center;
padding: 10px;
background-color: grey;
}

button{
border: 1px radius black;
margin: 10px;
font-size: 14px;
font-family: arial;

}


input{
border: 6px radius black;
margin: 10px;
font-size: 14px;
font-family: arial;
}

select{
border: 6px radius black;
margin: 10px;
font-size: 14px;
font-family: arial;

}

div{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    
}

ul{
    font-size: 15px;
    font-family: arial; 
}
