div {
    border: 2px solid #313B3E;
     
}

.container {
    
    
}

.item {
    background-color: #EEEEEE;

}

#header{
    background-color:
   
   
}

#menu {
    background-color:

   
}

#contet1 {
    background-color:
    
  
} 

#contet2{
    background-color:
 
  
} 

#image{
    background-color:

}

#extra{
    background-color:

}

#blank{
    background-color:

}

#footer{
    background-color:

}