etapa 1 {

    display: flex;
    justify-content: flex-end;
}

etapa 2 {
    display: flex;
    justify-content: center;
}

etapa 3{
    display: flex;
    justify-content: space-around;

}

etapa 4{
    display: flex;
    justify-content: space-between;

}

etapa 5 {
    display: flex;
    align-items: flex-end;
}

etapa 6 {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

etapa 7 {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;   
    
}

etapa 8 {
    display: flex;
    flex-direction: row-reverse;
    
}

etapa 9 {
    display: flex;
    flex-direction: column;
    
}

etapa 10 {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse
    
}

etapa 11 {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    
}

etapa 12 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between
    
}

etapa 13 {
    display: flex;    
    flex-direction: row-reverse;
    justify-content:center;
    align-items: flex-end;
   
}
    
    
}

etapa 14 {
     display: flex;
    .yellow { order: 2;}
    
}

etapa 15 {
    display: flex;
    .red { order: -3;}
    
}

etapa 16 {
    display: flex;
    align-items:flex-start;
    .yellow { align-self: flex-end; }
    
}

etapa 17 {
    display: flex;
    align-items:flex-start;
    .yellow { 
        order: 2;
        align-self: flex-end; }
    
}

etapa 18 {
    display: flex;
    flex-wrap: wrap;

    
}

etapa 19{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

etapa 20{
    display: flex;
    flex-flow: column wrap
    
}

etapa 21 {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    
}

etapa 22 {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    
}

etapa 23 {
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: center
}

etapa 24 {
    display: flex; 
    justify-content: center;
    align-content: space-between;
    flex-flow: column-reverse wrap-reverse;  
}


